.grades-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 50%;
}

.long-row {
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 5px;
}

.grade {
  color: black;
  padding: 5px 5px 5px 5px;
  margin-left: auto;
}

.add {
  margin-left: 8px;
  padding: 3px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dynamic-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS for spans containing submitted text */
.submitted span {
  flex: 1; /* Equal width distribution */
  margin: 0 5px; /* Adjust spacing between spans */
}

.student__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.student__components {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
}

.student__component {
  display: flex;
}

.student__component-name {
  margin-right: 1rem;
}

.student__component-grade {
  margin-right: 1rem;
}

