.grades-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 80%;
}

.long-row {
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 5px;
}

.component__row {
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
}

.component {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.grade {
  color: black;
  padding: 5px 5px 5px 5px;
  margin-left: auto;
}

.add {
  margin-left: 8px;
  padding: 3px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for spans containing submitted text */
.submitted span {
  flex: 1; /* Equal width distribution */
  margin: 0 5px; /* Adjust spacing between spans */
}

.student {
  display: flex;
  margin: 1rem;
}

.student__component-grade {
  margin-inline: 1rem;
}

.show__student-button {
  width: 8rem;
  align-self: center;
  margin-bottom: 1rem;
}
